[Unit]
Description=Amazon EBS Autoscale
After=network-online.target

[Service]
Environment="MOUNTPOINT=YOUR_MOUNTPOINT"
ExecStart=/usr/local/bin/ebs-autoscale
Restart=always

[Install]
WantedBy=multi-user.target
