[Unit]
Description=Amazon EBS Autoscale
After=network-online.target

[Service]
Environment="MOUNTPOINT=YOUR_MOUNTPOINT"
ExecStart=/usr/local/bin/ebs-autoscale ${MOUNTPOINT} >> /var/log/ebs-autoscale.log 2>&1
ExecStartPre=echo "[`date`] Starting EBS autoscaling" >> /var/log/ebs-autoscale.log
ExecStop=echo "[`date`] Stopping EBS autoscaling" >> /var/log/ebs-autoscale.log
Restart=always

[Install]
WantedBy=multi-user.target
