[Unit]
Description=Amazon EBS Autoscale
After=docker.service

[Service]
ExecStart=/bin/bash -c 'PATH=/opt/local/bin:$PATH /opt/local/bin/ebs-autoscale'
Restart=always

[Install]
WantedBy=multi-user.target
